/* PROFILE BACKGROUND, IMAGE AND FORMATTING */
.profile-header {
  height: 450px;
  width: 100%;
  display: flex;
  background-color: rgba(204, 227, 242, 0.772);
  background-image: url(../images/arches\ \(1\).png);
  position: fix;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

/* PROFILE NAME */
.profile-header h2 {
  position: relative;
  bottom: 30px;
  font-style: italic;
}