/* FORM CENTERING */
.new-tweet form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

/* TEXT FIELD FOR NEW TWEET */
.new-tweet textarea {
  width: 100%;
  font-weight:  bold;
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
  background: transparent;
  height: 60px;
  outline: none;
  border-style: none;
  border-bottom: solid 4px black;
}

/* NEW TWEET BUTTON */
.new-tweet button {
  font-family: 'Bungee', 'sans-serif';
  color: white;
  background-color: rgb(103, 181, 233);
  margin-top: 7px;
  padding: 6px 10px;
}

/* COUNTER.. STARTS AT 140 */
span.counter {
  font-family: 'Bungee', 'sans-serif';
  color: rgb(136, 141, 153);
  border-top: 8px;
  float: right;
}

/* USED WHEN CHARACTER IS OVER 140 LIMIT */
span.counter.tweetIsTooLong {
  color: red;
}
/* ERROR MESSAGE */
.tweet-error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
  text-align: center;
  margin-bottom: 12px;
  border: solid 4px red;
  color: red;
  padding: 8px 50px 8px 50px;
  font-weight: bold;
  font-style: italic;
}

.fa-triangle-exclamation {
  padding: 0.5em;
  font-size: 1.5em;
  color: red;
}

/* ADDED SMALL COPYRIGHT AT FOOTER */
footer {
  font-size: 10px;
}